.navbar{
    width: 95%;
    margin: 15px auto;
    border-radius: 5px;
    box-shadow: rgba(194, 1, 1, 0.3) 0px 1px 2px 0px, rgba(255, 0, 0, 0.15) 0px 2px 6px 2px;
}

.navbar-brand{
    font-weight: 700;
}

nav .collapse form button.btn{
    background: 0;
    color: black;
    border: black 1px solid;
}

nav .collapse form button.btn:hover{
    color: white;
    background: black;
}

/* ============ HOME ================================= */
#home .container .btn-primary{
    color: red;
    border-radius: 0;
    background: white;
    border: 1px solid red;
}

#home .container .btn-primary:hover{
    color: white;
    background: red;
}

#home .container .btn-primary:active{
    outline: 0;
    box-shadow: 0;
}

/* ============ INFO ================================= */
.info .card {
    display: flex;
    margin: 10px 0;
    border-radius: 0;
    flex-direction: column;
    justify-content: flex-start;
    justify-content: space-between;
    border: 1px solid rgb(135, 2, 2);
}

.info .card:hover{
    border: 0;
    cursor: pointer;
    border: 1px solid white;
    box-shadow: 0px 0px 5px 0px rgba(250,0,0,1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(250,0,0,1);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(250,0,0,1);

}

.info .card .card-text{
    text-align: justify;
}

/* ============ FORMULARIO =========================== */
#contact .container form .col-md-6 {
    margin: 10px 0;
}

input.form-control:focus,
textarea.form-control:focus {
    border: 1px solid red;
    box-shadow: none;
}

#contact .container form button{
    color: red;
    background: 0;
    padding: 5px 25px;
    border: 1px solid red;
}

#contact .container form button:hover{
    color: white;
    background: red;
}

#contact .container form button:disabled {
    color: rgb(94, 94, 94);
    cursor: not-allowed;
    background: #f0f0f0;
    border: 1px solid #ddd;
}